@using System;
@using System.Drawing;
@using Patagames.Ocr;
@using Patagames.Ocr.Enums;
@using Tesseract;

@page "/"

<PageTitle>My Shop</PageTitle>

@*<ProductList/>*@

<h1>@plainText</h1>

@code{
    private string? plainText;

    protected override async Task OnInitializedAsync()
    {
        ExtractTextFromBitmap();
    }

    public void ExtractTextFromBitmap()
    {
        using (var api = OcrApi.Create())
        {
            api.Init(Languages.English);
            using (var bmp = Bitmap.FromFile("c:\test_image.png") as Bitmap)
            {
                plainText = api.GetTextFromImage(bmp);
            }
        }
    }
}

